<div class="row">
  <div class="container col-md-6 col-md-offset-3">
    <h1 class="form-header">Edit a gift!</h1>

    <%= render partial: "item_form", locals: { button_name: "Update" } %>
  </div>
</div>
