ul.wlists {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wlist {
  display: block;
  position: relative;
  border-bottom: 1px solid $lime2;

  &:hover {
    background-color: $wlist-hover;
  }
}

.wlist.wlist-new {
  &:hover {
    background-color: $body-bg;
  }
}

.wlist-name {
  display: block;
  padding: 3 * $padding-base-vertical $padding-base-horizontal;
  line-height: 30px;
  color: black;
  font-size: medium;

  &:hover {
    text-decoration: none;
    color: lime4;
  }
}

.wlist-actions {
  display: inline-block;
  float: right;
  position: absolute;
  top: 3 * $padding-base-vertical;
  right: $padding-base-horizontal;

  form {
    display: inline-block;
  }
}

.wlist-first-name {
  font-weight: bold;
}
